<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>Space Search Engine - Home</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    <div class="wrap">
        <form action="results" method="get">
            <div class="search">

                <input type="search" class="searchTerm" name="query" placeholder="What are you looking for?" required="required">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>

            <div class="dateDiv">
                <div id="dataInizio">
                    <span>From</span>
                    <input type="date" name="dataInizio">
                </div>
                <div id="dataFine">
                    <span>To</span>
                    <input type="date" name="dataFine">
                </div>
            </div>

            <div class="checkDiv">
                <label class="container">ESA
                    <input type="checkbox" name="ESA">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Blue Origin
                    <input type="checkbox" name="BlueOrigin">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Space.com
                    <input type="checkbox" name="Space.com">
                    <span class="checkmark"></span>
                </label>
            </div>
        </form>
    </div>

</body>
</html>